.techlist-head {
  font-family: "Barlow Condensed";
  font-size: 1.4rem;
  color: #d0d6f9;
  margin-bottom: 0.9rem;
  line-height: 1.7rem;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.236rem;
  font-weight: 400;
}
.techlist-name {
  font-family: "Bellefair";
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
}
.techlist-description {
  font-family: "Barlow";
  font-size: 1.69rem;
  width: 32.7rem;
  margin-inline: auto;
  padding-bottom: 7rem;
  color: #d0d6f9;
  line-height: 2.5rem;
}
@media (min-width: 765px) {
  .techlist-head {
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
  }
  .techlist-name {
    font-size: 4rem;
  }
  .techlist-description {
    min-width: 45.8rem;
    max-width: 50%;
    font-size: 1.8rem;
    color: #d0d6f9;
    line-height: 2.8rem;
  }
}
@media (min-width: 1200px) {
  .tech-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .techlist-description,
  .techlist-head,
  .techlist-name {
    text-align: start;
    margin: 0;
  }
  .techlist-head {
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.27rem;
    margin-bottom: 1.1rem;
  }
  .techlist-name {
    font-size: 5.6rem;
    line-height: 6.4rem;
    margin-bottom: 1.7rem;
  }
  .techlist-description {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
